################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/CodeMaster/v16/Browse.VC.opendb
/.vs/CodeMaster/v16/Browse.VC.db
/.vs
/CodeMaster/Debug
/CodeMaster/.vs/CodeMaster/v16
/CodeMaster/CodeMaster.vcxproj.user
/CodeMaster/CodeMaster.vcxproj.filters
/CodeMaster/CodeMaster.vcxproj
/CodeMaster/CodeMaster.sln
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/tasks.json
*.exe
*.out
/DesignPattern/*
*Test.cpp